/*lte IE 6 */
#search-block-form{
	float:right;
}
#edit-search-block-form--2{
	position:relative;
	padding-bottom:10px;
	top:-80px;
	margin-right:20px;
}
#search-block-form .form-submit{
	top:-60px;
	left:180px;
}
#block-menu-menu-top-right{
	width:50%;
}
#block-menu-menu-top-right ul li a{
	text-align:right;
}