# Ignore configuration files that may contain sensitive information.
sites/*/*.settings*.php
sites/*/settings*.php
sites/*/settings*.php.*


# Ignoring the entire files/ directory and forcing commit of any not-actually-user 
# data added to it/its subdirectories (icons, diagrams, etc.) seemed like the easiest 
# thing to do.
sites/*/files/
sites/*/private/

# Ignore files that have passwords in them
.htpasswd

# Ignore .htaccess - we create this as a symlink to the appropriate .htaccess.env
# on a per machine basis.
.htaccess
