#edit-field-project-logo-upload-und-0-upload-button{
display:none;
}

#edit-group-theme{
display:none;
}
#edit-og-group-ref{
display:none;
}
#edit-field-collection-term{
display:none !important;
}
#edit-field-collection-term-main{
display:none !important;
}